<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApp1.My.MySettings.sqlline" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=northwind;User ID=dev1;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>